.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display-5{
  color: white
}

.attrib {
  margin-top: 4em;
  font-size: x-small;
  color: dimgray;
}

.h1 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
  background-color: rgba(16, 7, 54, 0.986);
}

.banner{
height:null;
flex: 1;
 min-height: 70vh;
}
.email{
  color: antiquewhite;
  padding: 12px;
}
.map-container {
  width: 100%;
  height: 70vh;
}

.formBg {
  margin-top: 20px;
}
/*
.detailsForm {
  width: 30em;
  margin: 1% 30%;
  align-items: center;
  justify-content: center;
}
*/