.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.attrib {
  font-size: x-small;
  color: dimgray;
}


.email{
  padding: 12px;
}
.map-container {
  width: 100%;
  height: 70vh;
}

/* .formBg {
  background-color: gray;
  padding: 1em;
}
.detailsForm {
  width: 30em;
  margin: 1% 30%;
  align-items: center;
  justify-content: center;
}
*/